<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title th:text="#{food.title}"></title>
</head>
<body>
<div th:insert="~{admin/navbar :: nb}"></div>

<div class="container-md col-3" id="first">

    <form th:action="@{/admin/food/add}" class="needs-validation" method="post" role="form" th:object="${food}" novalidate>
        <div class="form-group row">
            <label for="name" th:text="#{food.name}"></label>
            <input type="text" id="name" name="name" placeholder="Name" class="form-control" required/>
        </div>

        <div class="form-group row">
            <label for="calories" th:text="#{food.calories}"></label>
            <input type="number" step="50" min="1" th:required="number" name="calories" id="calories"
                   placeholder="calories" pattern="\d+" class="form-control" required/>
        </div>

        <div class="form-group row">
            <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
        </div>
    </form>

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <table class="table table-striped border-dark">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{food.table.name}"></th>
                        <th scope="col" th:text="#{food.table.calories}"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="food : ${allFood}">
                        <td th:text="${food.name}"></td>
                        <td th:text="${food.calories}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/common :: jsLinks}"></div>
<script th:src="@{/js/form_validator.js}"></script>
</body>
</html>