<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:insert="~{admin/navbar :: nb}"></div>
<div class="empty">.</div>

<div class="row justify-content-center">
    <div class="col-md-6 bottom-tables">
        <div class="card col-md-8 col-centered">
            <header class="card-header">
                <h4 class="card-title mt-2">Sign up</h4>
            </header>
            <article class="card-body">

                <form th:action="@{/admin/user/update}" method="post">

                    <div class="form-row">
                        <div class="col form-group">
                            <label th:text="#{user.username}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.username')}" class="help-block" th:errors="*{userDTO.username}"></span>
                                <span th:if="${usernameError}" class="text-danger" th:text="${usernameError}"></span>
                                <input type="text" class="form-control" maxlength="32" th:field="*{userDTO.username}" id="username" th:placeholder="#{user.username}"
                                       th:value="${userDTO.username} ? ${userDTO.username} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.username')} ? 'error-input' : ''" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="col form-group">
                            <label th:text="#{user.email}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.email')}" class="help-block" th:errors="*{userDTO.email}"></span>
                                <span th:if="${usernameError}" class="text-danger" th:text="${usernameError}"></span>
                                <input type="email" name="email" value="" class="form-control" th:placeholder="#{user.email}"
                                       th:value="${userDTO.email} ? ${userDTO.email} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.email')} ? 'error-input' : ''"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label th:text="#{user.full_name}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.fullName')}" class="help-block" th:errors="*{userDTO.fullName}"></span>
                                <input type="text" name="fullName" value="" class="form-control" th:placeholder="#{user.full_name}"
                                       th:value="${userDTO.fullName} ? ${userDTO.fullName} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.fullName')} ? 'error-input' : ''"/>
                            </div>
                        </div>

                        <div class="col form-group">
                            <label th:text="#{user.national_name}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.nationalName')}" class="help-block" th:errors="*{userDTO.nationalName}"></span>
                                <input type="text" name="nationalName" value="" class="form-control" th:placeholder="#{user.national_name}"
                                       th:value="${userDTO.nationalName} ? ${userDTO.nationalName} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.nationalName')} ? 'error-input' : ''"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label th:text="#{user.sex}" for="sex"></label>
                            <div id="sex" class="custom-control custom-radio custom-control-inline" th:object="${userDTO}" th:each="sexOpt : ${T(org.training.food_tracker.model.Sex).values()}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" th:field="*{sex}" th:value="${sexOpt}" class="custom-control-input">
                                    <label class="custom-control-label" th:for="${#ids.prev('sex')}" th:text="${sexOpt}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label th:text="#{user.age}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.age')}" class="help-block" th:errors="*{userDTO.age}"></span>
                                <input type="number" name="age" value="" class="form-control" th:placeholder="#{user.age}"
                                       th:value="${userDTO.age} ? ${userDTO.age} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.age')} ? 'error-input' : ''"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label th:text="#{user.weight}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.weight')}" class="help-block" th:errors="*{userDTO.weight}"></span>
                                <input type="number" name="weight" min="1" value="" class="form-control" th:placeholder="#{user.weight}"
                                       th:value="${userDTO.weight} ? ${userDTO.weight} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.weight')} ? 'error-input' : ''"/>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label th:text="#{user.height}"></label>
                            <div>
                                <span th:if="${#fields.hasErrors('userDTO.nationalName')}" class="help-block" th:errors="*{userDTO.nationalName}"></span>
                                <input type="number" name="height" min="1" value="" class="form-control" th:placeholder="#{user.height}"
                                       th:value="${userDTO.height} ? ${userDTO.height} :  ''"
                                       th:classappend="${#fields.hasErrors('userDTO.weight')} ? 'error-input' : ''"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p th:text="#{user.lifestyle}"></p>
                        <div class="custom-control custom-radio custom-control-inline" th:object="${userDTO}" th:each="lifestyleOpt : ${T(org.training.food_tracker.model.Lifestyle).values()}">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" th:field="*{lifestyle}" th:value="${lifestyleOpt}" class="custom-control-input">
                                <label class="custom-control-label" th:for="${#ids.prev('lifestyle')}" th:text="${lifestyleOpt}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label th:text="#{user.daily_norm}"></label>
                            <div>
                                <input type="text" class="form-control" th:value="${userDTO.dailyNorm}" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label th:text="#{user.role} + ': ' + ${userDTO.role}"></label>
                        </div>
                    </div>

                    <input type="hidden" name="password" th:value="${userDTO.password}">

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" th:text="#{form.save}"></button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common :: jsLinks}"></div>
</body>
</html>