<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>[[#{user.main.user}]] [[${#httpServletRequest.remoteUser}]]</title>
<style>
    #exceeded {
        color: red;
    }
</style>
</head>
<body>
<div th:insert="~{user/navbar :: nb}"></div>

<div class="container">
        <h1 th:inline="text">[[#{hello}]] [[${#httpServletRequest.remoteUser}]]!</h1>

        <table class="table-striped">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{food.table.calories}"></th>
            </tr>
            </thead>
            <tr th:each="nextFood : ${allCommonFood}">
                <td><a href="#"><span th:text="${nextFood.name}" ></span></a></td>
                <td th:text="${nextFood.calories}"></td>
                <td>
                    <form th:action="@{/user/add}" method="post" th:object="${nextFood}" novalidate>
                        <input type="hidden" name="name" th:value="${nextFood.name}">
                        <input type="hidden" name="calories" th:value="${nextFood.calories}">
                        <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
                    </form>
                </td>
            </tr>
        </table>
    <hr>
        <form th:action="@{/user/add}" method="post" th:object="${food}" novalidate>
            <div class="form-group row">
                <label for="name" th:text="#{food.name}"></label>
                <input type="text" id="name" name="name" placeholder="Name" required/>
            </div>

            <div class="form-group row">
                <label for="calories" th:text="#{food.calories}"></label>
                <input type="number" step="100" min="100" th:required="Number" name="calories" id="calories" placeholder="calories" pattern="\d+" required/>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
            </div>
        </form>

        <hr>
        <h2 th:text="#{food.personal}"></h2>

            <table class="table-striped" th:object="${usersFoodDTOs}">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{user.consume}"></th>
            </tr>
            </thead>
            <tr th:each="userFood : ${usersFoodDTOs}">


                <td><span th:text="${userFood.name}"></span></td>
                <td th:text="${userFood.calories}"></td>

                <td>
                    <form action="#" th:action="@{/user/use}" th:object="${userFood}" method="post">
                        <input type="hidden" name="name" th:value="${userFood.name}">
                        <input type="number" name="amount" th:required="true" value="1" min="0.5" step="0.5">
                        <button type="submit" name="consume" class="btn btn-primary mb-2" th:text="#{user.consume}"></button>
                        <button type="submit" name="delete"
                                onclick="if (!(confirm('Do you really want to delete this food?'))) return false"
                                class="btn btn-danger mb-2" th:text="#{user.food.delete}"></button>
                    </form>
                </td>
            </tr>
        </table>
        <hr>

        <h2 th:text="#{user.daily_norm}"></h2>
        <h3 th:text="${userDTO.dailyNorm}"></h3>
        <hr>

        <h2 th:text="#{user.consumed_today}"></h2>
        <h3 th:text="${consumedStatsDTO.caloriesConsumed}"></h3>
        <h3 id="exceeded" th:if="${consumedStatsDTO.dailyNormExceeded}" th:text="#{user.exceeded} + ' ' + ${consumedStatsDTO.exceededCalories}"></h3>

        <table class="table-striped" th:object="${todayEventsDTOs}">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{food.amount}"></th>
                <th th:text="#{food.total_calories}"></th>
            </tr>
            </thead>
            <tr th:each="event : ${todayEventsDTOs}">
                <td><span th:text="${event.foodName}"></span></td>
                <td><span th:text="${event.foodAmount}"></span></td>
                <td><span th:text="${event.totalCalories}"></span></td>
            </tr>
        </table>
</div>
<div th:replace="~{fragments/common :: jsLinks}"></div>
</body>
</html>