<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>[[#{user.main.user}]] [[${#httpServletRequest.remoteUser}]]</title>
</head>
<body>
<div th:insert="~{user/navbar :: nb}"></div>

<div class="calories-bar">
    <div class="card">
        <div class="card-header" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
        <div class="card-body" th:text="#{user.daily_norm} + ': ' + ${userDTO.dailyNorm}"></div>
        <div class="card-body" th:text="#{user.consumed_today} + ': ' + ${consumedStatsDTO.caloriesConsumed}"></div>
        <div class="card-footer" id="exceeded" th:if="${consumedStatsDTO.dailyNormExceeded}"
             th:text="#{user.exceeded} + ' ' + ${consumedStatsDTO.exceededCalories}" ></div>
    </div>
</div>

<div class="container" id="first">
        <!--<h3 th:inline="text">[[#{hello}]], [[${#httpServletRequest.remoteUser}]]!</h3>-->
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-5 px-4 bg-dark text-white">
                <table class="table-striped align-content-center col-centered">
                    <thead class="border-dark">
                    <tr>
                        <th th:text="#{food.table.name}"></th>
                        <th th:text="#{food.table.calories}"></th>
                    </tr>
                    </thead>
                    <tr th:each="nextFood : ${allCommonFood}">
                        <td><span th:text="${nextFood.name}" ></span></td>
                        <td th:text="${nextFood.calories}"></td>
                        <td>
                            <form th:action="@{/user/add}" method="post" th:object="${nextFood}" novalidate>
                                <input type="hidden" name="name" th:value="${nextFood.name}">
                                <input type="hidden" name="calories" th:value="${nextFood.calories}">
                                <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card card-body mb-2">
                <h2 th:text="#{food.personal}"></h2>

                <form th:action="@{/user/add}" method="post" role="form" th:object="${food}" novalidate>
                    <div class="form-row">


                        <div class="col-6">
                            <input type="text" id="name" name="name" th:placeholder="#{food.name}" th:required="true" class="form-control" required/>
                        </div>

                        <div class="col">
                            <input type="number" step="50" min="100" th:required="true" name="calories" id="calories"
                                   class="form-control" th:placeholder="#{food.calories}" pattern="\d+" required/>
                        </div>

                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-responsive-md table-striped text-center" th:object="${usersFoodDTOs}">
                    <thead class="border-dark">
                    <col width="130">
                    <col width="150">
                    <tr>
                        <th th:text="#{food.table.name}"></th>
                        <th th:text="#{food.table.calories}"></th>
                        <th th:text="#{food.amount}"></th>
                    </tr>
                    </thead>
                    <tr th:each="userFood : ${usersFoodDTOs}">


                        <td><span th:text="${userFood.name}"></span></td>
                        <form class="form-inline" role="form" th:action="@{/user/use}" th:object="${userFood}" method="post">
                            <td th:text="${userFood.calories}"></td>
                            <td>
                                <div class="form-group">
                                    <input type="hidden" name="name" th:value="${userFood.name}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <input type="number" name="amount" th:required="true" maxlength="2" size="4" value="1" min="0.5" step="0.5" class="form-control input-digit">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="submit" name="consume" class="btn btn-success btn-sm form-control" th:text="#{user.consume}"></button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="submit" name="delete"
                                            onclick="if (!(confirm('Do you really want to delete this food?'))) return false"
                                            class="btn btn-danger btn-sm form-control" th:text="#{user.food.delete}"></button>
                                </div>
                            </td>
                            </form>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-7">
            <div class="card card-body" id="consumed">
                <h2 th:text="#{food.consumed_today}"></h2>
                <table class="table table-striped border-dark" th:object="${todayEventsDTOs}">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{food.table.name}"></th>
                        <th scope="col" th:text="#{food.amount}"></th>
                        <th scope="col" th:text="#{food.total_calories}"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="event : ${todayEventsDTOs}">
                        <td th:text="${event.foodName}"></td>
                        <td th:text="${event.foodAmount}"></td>
                        <td th:text="${event.totalCalories}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/common :: jsLinks}"></div>
</body>
</html>