<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>[[#{user.main.user}]] [[${#httpServletRequest.remoteUser}]]</title>
</head>
<body>
<div th:insert="~{user/navbar :: nb}"></div>

<div class="container" id="first">
        <h3 th:inline="text">[[#{hello}]], [[${#httpServletRequest.remoteUser}]]!</h3>

        <table class="table-striped">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{food.table.calories}"></th>
            </tr>
            </thead>
            <tr th:each="nextFood : ${allCommonFood}">
                <td><span th:text="${nextFood.name}" ></span></td>
                <td th:text="${nextFood.calories}"></td>
                <td>
                    <form th:action="@{/user/add}" method="post" th:object="${nextFood}" novalidate>
                        <input type="hidden" name="name" th:value="${nextFood.name}">
                        <input type="hidden" name="calories" th:value="${nextFood.calories}">
                        <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
                    </form>
                </td>
            </tr>
        </table>
    <hr>
    <div class="col-6">
        <form th:action="@{/user/add}" method="post" role="form" th:object="${food}" novalidate>
            <div class="form-group">
                <label for="name" th:text="#{food.name}"></label>
                <input type="text" id="name" name="name" placeholder="Name" th:required="true" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="calories" th:text="#{food.calories}"></label>
                <input type="number" step="100" min="100" th:required="true" name="calories" id="calories"
                       class="form-control" placeholder="calories" pattern="\d+" required/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
            </div>
        </form>
    </div>
        <hr>
        <h2 th:text="#{food.personal}"></h2>

            <table class="table-striped" th:object="${usersFoodDTOs}">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{user.consume}"></th>
            </tr>
            </thead>
            <tr th:each="userFood : ${usersFoodDTOs}">


                <td><span th:text="${userFood.name}"></span></td>
                <td th:text="${userFood.calories}"></td>

                <td>
                    <form class="form-inline" role="form" th:action="@{/user/use}" th:object="${userFood}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="name" th:value="${userFood.name}" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="number" name="amount" th:required="true" value="1" min="0.5" step="0.5" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="consume" class="btn btn-success btn-sm form-control" th:text="#{user.consume}"></button>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="delete"
                                    onclick="if (!(confirm('Do you really want to delete this food?'))) return false"
                                    class="btn btn-danger btn-sm form-control" th:text="#{user.food.delete}"></button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <hr>

        <h2 th:text="#{user.daily_norm} + ': ' + ${userDTO.dailyNorm}"></h2>
        <hr>

        <h2 th:text="#{user.consumed_today} + ': ' + ${consumedStatsDTO.caloriesConsumed}"></h2>
        <h3 id="exceeded" th:if="${consumedStatsDTO.dailyNormExceeded}" th:text="#{user.exceeded} + ' ' + ${consumedStatsDTO.exceededCalories}"></h3>
        <hr>
        <table class="table-striped" th:object="${todayEventsDTOs}">
            <thead class="border-dark">
            <tr>
                <th th:text="#{food.table.name}"></th>
                <th th:text="#{food.amount}"></th>
                <th th:text="#{food.total_calories}"></th>
            </tr>
            </thead>
            <tr th:each="event : ${todayEventsDTOs}">
                <td><span th:text="${event.foodName}"></span></td>
                <td><span th:text="${event.foodAmount}"></span></td>
                <td><span th:text="${event.totalCalories}"></span></td>
            </tr>
        </table>
</div>
<div th:replace="~{fragments/common :: jsLinks}"></div>
</body>
</html>