.jumbotron {
    padding: 2em;
}

#first {
    margin-top: 200px;
}

.empty {
    margin-bottom: 200px;
}

.custom-centered {
    margin:0 auto;
    width:300px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}