<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>All food</title>
</head>
<body>
<a href="?lang=en">en</a>
<a href="?lang=uk">ua</a>

<div class="container">
    <table class="table-striped">
        <thead class="border-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Calories</th>
        </tr>
        </thead>
        <tr th:each="food : ${foods}">
            <td th:text="${food.id}" />
            <td><a href="#" th:href="@{/food(id=${food.id})}"><span th:text="${food.name}" ></span></a></td>
            <td th:text="${food.calories}"></td>
        </tr>
    </table>
</div>

</body>
</html>