<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>History of [[${#httpServletRequest.remoteUser}]]</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: nb}"></div>

<div class="container">
    <div th:if="${not #lists.isEmpty(eventDto)}">

        <h1 align="center" th:text="${'History of ' + eventDto.user.username}"></h1>
        <table>
            <tr class="list-group" th:each="day : ${eventDto.dateToEvents}">

                <span class="list-group-item" th:text="${day.key}"></span>
                    <table class="table">
                        <thead class="border-dark">
                            <tr>
                                <th>Time</th><th>Action</th><th>Food</th><th>Amount</th>
                            </tr>
                        </thead>
                        <tr th:each="event : ${day.value}">
                            <td th:text="${event.timestamp}"></td>
                            <td th:text="${event.action}"></td>
                            <td th:text="${event.food.name}"></td>
                            <td th:text="${event.amount}"></td>
                        </tr>
                    </table>
                <hr>
            </tr>
        </table>
    </div>
</div>
<div th:replace="~{fragments/common :: jsLinks}"></div>
</body>
</html>