<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>Registration</title>
</head>
<body>
<a href="?lang=en">en</a>
<a href="?lang=uk">ua</a>

<div class="container container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Registration</h1>
        </div>
    </div>

    <form th:action="@{/registration}" method="post" th:object="${user}" novalidate>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.username}"></label>
            <div class="col-sm-6">
                <input type="text" name="username" placeholder="Username" th:value="${user != null} ? ${user.username}"
                       class="form-control"
                       th:class="${usernameError != null}? 'is-invalid'" required/>

                <div th:if="${usernameError}">
                    <div class="invalid-feedback">
                        [[${#usernameError}]]
                    </div>
                </div>
                <div th:unless="${usernameError}">
                    <div class="invalid-feedback">
                        [[${#usernameError}]]
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.email}"></label>
            <div class="col-sm-6">
                <input type="email" name="email" value="" class="form-control" th:value="${user != null} ? ${user.email}"
                       placeholder="Email" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.full_name}"></label>
            <div class="col-sm-6">
                <input type="text" name="fullName" value="" class="form-control" th:value="${user != null} ? ${user.fullName}"
                       placeholder="Full name" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.national_name}"></label>
            <div class="col-sm-6">
                <input type="text" name="nationalName" value="" class="form-control" th:value="${user != null} ? ${user.nationalName}"
                       placeholder="National name" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.biometrics.age}"></label>
            <div class="col-sm-6">
                <input type="datetime-local" name="age" value="" class="form-control"
                       th:value="${biometrics != null} ? ${biometrics.age}" placeholder="Age" required/>
            </div>
        </div>

        <div class="form-group row">
            <label for="sex" class="col-sm-2 col-form-label" th:text="#{user.biometrics.sex}"></label>
            <div class="col-sm-6">
                <select id="sex">
                    <option th:each="sexOpt : ${T(all.that.matters.domain.Sex).values()}"
                            th:value="${sexOpt}" th:text="${sexOpt}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.biometrics.weight}"></label>
            <div class="col-sm-6">
                <input type="number" name="weight" value="50" class="form-control" step="10"
                       th:value="${biometrics != null} ? ${biometrics.weight}" placeholder="Weight" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.biometrics.height}"></label>
            <div class="col-sm-6">
                <input type="number" name="height" value="160" class="form-control" step="10"
                       th:value="${biometrics != null} ? ${biometrics.age}" placeholder="Height" required/>
            </div>
        </div>


        <div class="form-group row">
            <label for="lifestyle" class="col-sm-2 col-form-label" th:text="#{user.biometrics.lifestyle}"></label>
            <div class="col-sm-6">
                <select id="lifestyle">
                    <option th:each="lifestyleOpt : ${T(all.that.matters.domain.Lifestyle).values()}"
                            th:value="${lifestyleOpt}" th:text="${lifestyleOpt}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"th:text="#{user.password}"></label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:text="#{user.biometrics.сonfirm_password}"></label>
            <div class="col-sm-6">
                <input type="password" name="passwordConfirm" class="form-control" placeholder="Retype Password" required/>
            </div>
        </div>

        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
        <button type="submit" class="btn btn-primary mb-2" th:text="#{form.add}"></button>
    </form>

</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>